@import './variable';

// 总样式
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

#app {
    // 页面高度
    height: 100%;

    // 主体内容区样式
    .main-container {
        min-height: 100%;
        transition: margin-left #{$sidebar-duration};
        margin-left: $sidebar-width;
        position: relative;
    }

    // 侧边栏容器样式
    .sidebar-container {
        transition: width #{$sidebar-duration};
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1001;
        overflow: hidden;
        background-color: $main-color;

        // 侧边栏伸缩
        .horizontal-collapse-transition {
            transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
        }

        // 侧边栏菜单样式
        .el-menu {
            border: none;
            height: 100%;
            width: 100% !important;
        }
    }
}
