// Sidebar
$menu-text: #BFBDd9;
$menu-active-text: #FFFFFF;
$sub-menu-active-text: #F4F4F5;

$menu-background-color: #304156;
$menu-hover: #263445;

$sub-menu-background-color: #1F2D3D;
$sub-menu-hover: #001528;

$side-bar-width: 210px;
$side-bar-hide-width: 67px;
$side-bar-duration: 0.28s;

:export {
    menu-text: $menu-text;
    menu-active-text: $menu-active-text;
    sub-menu-active-text: $sub-menu-active-text;
    menu-background-color: $menu-background-color;
    menu-hover: $menu-hover;
    sub-menu-background-color: $sub-menu-background-color;
    sub-menu-hover: $sub-menu-hover;
    side-bar-width: $side-bar-width;
    side-bar-hide-width: $side-bar-hide-width;
    side-bar-duration: $side-bar-duration;
}
