$basic-color: var(--basic);
$medium-light-color: #263445;
$medium-dark-color: #1F2D3D;
$dark-color: #001528;

$text-color: #D3DCE6;
$hover-color: var(--hover);

$primary-color: #409EFF;
$success-color: #00AF9B;
$warning-color: #E6A23C;
$danger-color: #F56C6C;

$light-gray-color: #D3DCE6;
$medium-light-gray-color: #99A9BF;
$medium-dark-gray-color: #5A5E66;
$dark-gray-color: #454545;

$white-color: #FFFFFF;
$black-color: #000000;
$white-color-point: rgba(255, 255, 255, 0.1);
$black-color-point: rgba(0, 0, 0, 0.1);

// 侧边栏宽度
$sidebar-width: 200px;
// 侧边栏收缩后宽度
$sidebar-collapse-width: 68px;
// 侧边栏缩放速度
$sidebar-duration: 0.3s;

// 头部组件大小
$header-icon-size: 28px;
$header-emoji-size: 24px;
